<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<h1>Bootcamp Enrollment form</h1>
<div class="form-group col-lg-7">
  <form #userForm="ngForm">
    {{userForm.value | json}}
    <div>
      <label class="form-control-label">Name: </label>
      <input type="text" class="form-control" name="name" [(ngModel)]="name">
    </div>

    <br>
    <div class="form-group">
        <label class="form-control-label">Select course: </label>
      <select class="custom-select" name="course" [(ngModel)]="courseSelected" (ngModelChange)='checkFreeCourse($event)'>
        <option *ngFor="let course of courses" >{{course}}</option>
      </select>
    </div>
    {{courseSelected}}
    <div *ngIf="openPopup">
      <button class="btn btn-link" (click)="open(mymodal)">Click</button>
    </div>
    <br>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Ye!!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   You have selected free course!!
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>
</html>